@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

* {
  font-family: times;
}
body {
    background: #fff;
  }

  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }
  
  input {
    font-family: 'Patrick Hand', cursive;
  }
  
  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
    color: #aaa;
  }